:root {
    --primary-color: #0B0A20;
    --white: #FFF;
    --gap: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1, h2 {
    font-size: 6rem;
    text-transform: uppercase;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.mainbg {
    background-image: url(../img/mainbg.svg);
    background-position: center center;
    background-size: cover;
    color: var(--white);
}

.maincontent {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
    overflow: hidden;
}

.height {
    min-height: 100vh;
}

body .full {
    width: 100%;
    flex: 1 1 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

.menu h1 {
    font-size: 2.3rem;
    color: #0B0A20;
    border-bottom: 1px solid lightgrey;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.menu ul {
    background-color: white;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: #0B0A20;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img-intro img {
    max-width: 100%;
}

.intro-text {
    justify-content: center;
    text-align: justify;
    margin-bottom: 6rem;

}

.intro-text h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 4.5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    max-width: 40rem;
}

.top3 {
    align-content: center;
}

.top3-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
}

.top3-content p {
    padding: 3rem;
}

.top3 h2 {
    text-align: center;
    margin-top: 3rem;
}

.heading {
    margin-top: 3rem;
}

.heading p {  
    margin-top: 2rem;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 8rem;
}

.grid article {
    padding: 2rem;
}

.grid h3 {
    font-size: 3rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.gallery-head {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap)
}

.gallery-img {
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
    margin-top: 6rem;
}

.contact-form legend {
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 2.6rem;
}

.contact-form .contact-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.contact-grid legend {
    font-size: 6rem;
}
.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.2rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px rgb(21, 102, 207);
}

.form-group button {
    border: 0.1rem solid white;
    background-color: white;
    color: var(--primary-color);
    padding: 1rem 1.2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background-color: var(--primay-color);
    color: white;
}

.form-group ::placeholder {
    color: gray;
}

.footer {
    text-align: center;
    height: 40px;
    align-content: center;
}

.footer a {
    text-decoration: none;
    color: #444;
}

.close {
    display: none;
}


.to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    width: 4rem;
    height: 3.5rem;
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

@media (max-width: 800px) {
    .intro-content, .grid-content, .top3-content, .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: white;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close:checked~.menu {
        display: block;
    }

    .close:checked~.close-label::after {
        content: "✕";
    }

}